<!-- src/app/pages/admin/home/etablissement-form/etablissement-form.component.html -->
<h2>Ajouter un établissement</h2>
<form [formGroup]="etablissementForm" (ngSubmit)="onSubmit()">
  <label>Nom de l'établissement:</label>
  <input formControlName="nom" type="text" />

  <label>Ville:</label>
  <input formControlName="ville" type="text" />

  <label>Province:</label>
  <input formControlName="province" type="text" />

  <label>Lien du logo:</label>
  <input formControlName="logo" type="text" />

  <button type="submit">Soumettre</button>
</form>
