<header class="header">
    <div class="logo">
        <a routerLink="/login-etudiant" routerLinkActive="active">
            <img src="assets/logo.jpg" alt="Logo" />
        </a>
    </div>
  
    <nav class="nav-links">
      <a routerLink="/etudiant-home" class="nav-link" routerLinkActive="active">Accueil</a>
      <a routerLink="/etudiant-home" class="nav-link" routerLinkActive="active">Stages sauvegardés</a>
      <a routerLink="/etudiant-home" class="nav-link" routerLinkActive="active">Candidatures</a>
      <a routerLink="/etudiant-home" class="nav-link" routerLinkActive="active">Messages</a>
    </nav>
  
    <div class="logout">
      <button class="logout-button">Déconnexion</button>
    </div>
</header>
<h1>Bienvenue dans votre espace etudiant</h1>
