<div *ngIf="stages && stages.length > 0; else aucunStage">
  <h2>Vos Stages enregistrés</h2>
  <div class="stages-list">
    <div *ngFor="let stage of stages" class="stage-item">
      <div class="stage-header">
        <img src="assets/cgi.jpg" alt="Logo" class="stage-logo" /> <!-- Image du stage -->
        <h3>{{ stage.intitule || 'Non spécifié' }}</h3> <!-- Affichage de l'intitulé du stage -->
      </div>
      <div class="stage-actions">
        <!-- Bouton Modifier seulement -->
        <button class="btn-modifier" (click)="modifierStage(stage.id)">Modifier</button>
      </div>
    </div>
  </div>
</div>

<ng-template #aucunStage>
  <p>Aucun stage trouvé.</p>
</ng-template>
